*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gap: 0px;
    --columns: 10;
    --overlay: flex;
}

.web-app{
    height: 100vh;
}

header{
    height: 10%;
}

footer{
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.elementi-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.difficoltà{
    display: flex;
    gap: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
    height: 80%;
    padding: 10rem;
}

#griglia{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 40%;
    position: relative
}

.box{
    border: 1px solid black;
    flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 0;
}

.red{
    background-color: red;
}

.blue{
    background-color: lightskyblue;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    aspect-ratio: 1;
    display: var(--overlay);
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
}

.testoSconfitta{
    text-align: center;
    font-size: 3.5rem;
    color: red;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000
}

.testoVittoria{
    text-align: center;
    font-size: 3.5rem;
    color: lime;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000
}